.friendInfoContainer{
    margin-top: 150px !important;
    border: 5px solid rgba(204, 203, 203, 0.315);
    border-radius: 10px;
    margin: 3px;
    background: rgba(243, 240, 240, 0.527);
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
#friend-main-profile-picture{
    min-width: 400px;
    max-width: 400px;
    margin-bottom: 0%;
}

.friend-photos-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}
#friends-photo-thumbnail{
    min-width: 300px;
    max-width: 300px;
  
}
#friends-photo-thumbnail:hover{
    opacity: 0.8;
    cursor: pointer;    
}
.friendPhoto{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.friendPhoto h5{
    margin-top: 0;
}
.friend-profile-icon-container{
    margin-top: 30px;
    width: 90%;
}
.center-text{
    width: 100%;
    display: flex;
    justify-content: center;
}
#error-image{
    max-width: 75px;
    margin-right: 10px;
}
@media only screen and (max-width: 800px) {
    .friendInfoContainer{
        margin-top: 50px !important;
        border: 5px solid rgba(204, 203, 203, 0.315);
        border-radius: 10px;
        margin: 3px;
        background: rgba(243, 240, 240, 0.527);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }
    #friend-main-profile-picture{
        min-width: 200px;
        max-width: 200px;
        margin-bottom: 0%;
        align-self: center;
    }

    .friend-photos-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5%;
    }
}