.profile-container{
    border: 5px solid rgba(204, 203, 203, 0.315);
    border-radius: 10px;
    margin: 3px;
    background: rgba(243, 240, 240, 0.527);
    display: flex;
    justify-content: space-between;

    padding: 2%;
}
.profile-user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.profile-edit-icon{
    margin-top: 190px;
    /* background: rgba(224, 223, 223, 0.315); */
    display: flex;
    justify-content: flex-end;
}
.requests-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: rgba(224, 223, 223, 0.315); */
    background: rgba(243, 240, 240, 0.527);
    border: 5px solid rgba(224, 223, 223, 0.315);
    border-radius: 10px;
    padding-bottom: 10%;
    margin: 3px;
}
#user-profile-picture {
    min-width: 400px;
    max-width: 400px;
}
#user-profile-picture:hover{
    opacity: 0.8;
    cursor: pointer;
}
.request-card-container{
    display:flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.request-card{
    width: 30%;
    background-color: white;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
}
#request-user-prof-pic{
    max-width: 80px;
}
.request-card picture {
    margin-right: 2%;

}   
.request-photo-card picture {
    margin-bottom: 50%;
}
.accept-user-or-deny-user{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
   
}
.add_space{
    margin-left: 20% !important;
}

.current-image-container{
    margin-top: 5%;

}
.center-image{
    display: block;
    margin: auto;
    max-width: 200px !important;
}
.crop-image{
    max-width: 200px !important;
    /* margin-top: 5% !important;
    margin-left: 30% !important; */
    display: block !important;
    margin: auto !important;
}

.renew-photo-form{
    margin-top:20px;
    height:500px;
    display:flex;
    align-items: center;
    /* background: url("https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_960_720.jpg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .crop-container-new {
    position: absolute;
    /* display: flex; */
    /* width: 50%; */
    margin: auto;
    margin-top: 450px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    max-width: 600px !important;
  }
  .friend-card-request{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    /* border: solid 2px rgba(131, 128, 128, 0.274); */
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
    /* background-image: linear-gradient( rgba(184, 183, 183, 0.397), rgba(248, 246, 246, 0.281)); */
    background-color: rgba(230, 228, 228, 0.527);
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 1px #ccc;
    height: 100px;
}

  @media only screen and (max-width: 800px) {
    .profile-edit-icon{
        margin-top: 60px;
    }

    #user-profile-picture {
        min-width: 300px;
        max-width: 300px;
    }
    .profile-container{
        border: 5px solid rgba(204, 203, 203, 0.315);
        border-radius: 10px;
        margin: 3px;
        background: rgba(243, 240, 240, 0.527);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .accept-user-or-deny-user{
        width: 40%;
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        margin-right: 20% !important;
       
    }  
    .friend-card-request{
        width: 100%;
    }
    .request-user-name{
        margin-top: 15px;
        margin-left: 5px;
    } 
  }
